# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
bin/Debug/density_90.bin
bin/Debug/density_9.bin
bin/Debug/density_89.bin
bin/Debug/density_88.bin
bin/Debug/density_87.bin
bin/Debug/density_86.bin
bin/Debug/density_85.bin
bin/Debug/density_84.bin
bin/Debug/density_83.bin
bin/Debug/density_82.bin
bin/Debug/density_81.bin
bin/Debug/density_80.bin
bin/Debug/density_8.bin
bin/Debug/density_79.bin
bin/Debug/density_78.bin
bin/Debug/density_77.bin
bin/Debug/density_76.bin
bin/Debug/density_75.bin
bin/Debug/density_74.bin
bin/Debug/density_73.bin
bin/Debug/density_72.bin
bin/Debug/density_71.bin
bin/Debug/density_70.bin
bin/Debug/density_7.bin
bin/Debug/density_69.bin
bin/Debug/density_68.bin
bin/Debug/density_67.bin
bin/Debug/density_66.bin
bin/Debug/density_65.bin
bin/Debug/density_64.bin
bin/Debug/density_63.bin
bin/Debug/density_62.bin
bin/Debug/density_61.bin
bin/Debug/density_60.bin
bin/Debug/density_6.bin
bin/Debug/density_59.bin
bin/Debug/density_58.bin
bin/Debug/density_57.bin
bin/Debug/density_56.bin
bin/Debug/density_55.bin
bin/Debug/density_54.bin
bin/Debug/density_53.bin
bin/Debug/density_52.bin
bin/Debug/density_51.bin
bin/Debug/density_50.bin
bin/Debug/density_5.bin
bin/Debug/density_49.bin
bin/Debug/density_48.bin
bin/Debug/density_47.bin
bin/Debug/density_46.bin
bin/Debug/density_45.bin
bin/Debug/density_44.bin
bin/Debug/density_43.bin
bin/Debug/density_42.bin
bin/Debug/density_41.bin
bin/Debug/density_40.bin
bin/Debug/density_4.bin
bin/Debug/density_39.bin
bin/Debug/density_38.bin
bin/Debug/density_37.bin
bin/Debug/density_36.bin
bin/Debug/density_35.bin
bin/Debug/density_34.bin
bin/Debug/density_33.bin
bin/Debug/density_32.bin
bin/Debug/density_31.bin
bin/Debug/density_30.bin
bin/Debug/density_3.bin
bin/Debug/density_29.bin
bin/Debug/density_28.bin
bin/Debug/density_27.bin
bin/Debug/density_26.bin
bin/Debug/density_25.bin
bin/Debug/density_24.bin
bin/Debug/density_23.bin
bin/Debug/density_22.bin
bin/Debug/density_21.bin
bin/Debug/density_20.bin
bin/Debug/density_2.bin
bin/Debug/density_19.bin
bin/Debug/density_18.bin
bin/Debug/density_17.bin
bin/Debug/density_16.bin
bin/Debug/density_15.bin
bin/Debug/density_14.bin
bin/Debug/density_13.bin
bin/Debug/density_12.bin
bin/Debug/density_11.bin
bin/Debug/density_10.bin
bin/Debug/density_1.bin
bin/13.png
bin/14.png
bin/18.png
bin/19.png
bin/21.png
bin/38.png
*.txt
